/* Style for the container */

h4 {
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 20px;
}

.datepicker-wrapper {
  position: relative;
}

.datepicker-wrapper .form-control {
  padding-right: 40px; /* Space for the calendar button */
}

.datepicker-wrapper .calendar-btn {
  position: absolute;
  top: 50%;
  right: 10px; /* Adjust as necessary */
  transform: translateY(-50%);
  z-index: 10;
  border: none;
  background: none;
  cursor: pointer;
}

.datepicker-wrapper .calendar-btn i {
  font-size: 16px;
}

.alert {
  margin-top: 5px;
}

.submit {
  display: flex;
  justify-content: space-between;
}

.left_btn, .right_btn {
  display: flex;
  align-items: center;
}

.left_btn button, .right_btn button {
  margin: 0 5px;
}

.date {
    margin-top: 100px;
    background-color: #f8f9fa;
    /* Light gray background */
    padding: 20px;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    /* Padding around the whole form */
    margin-top: 50px;
  }
  
  /* You can add global styles to this file, and also import other style files */
  .container {
    max-width: 500px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #208678;
    border-radius: 8px;
    background-color: #f3fcfb;
  }
  button.btn.btn-primary {
    background-color: #4b4b4b;
    border-color: #4b4b4b;
  }

  button.btn.btn-succes {
    margin-top: 10px;
    background-color: #208678;
    color: white;
  }

  h1{
    font-size: 40px;
  }
  h2{
    font-size: 35px;
  }
  h3{
    font-size: 28px;
  }
  h4 {
    font-size: 23px;
    text-align: center;
    margin-bottom: 20px;
    font-weight: 800;
    color: #208678;
}
  h5{
    font-size: 20px;
  }
  p{
    font-size: 16px;
  }
  label{
    font-size: 16px;
  }
  .btn {
    font-size: 18px;
  }
  h2 {
    margin-bottom: 20px;
  }
  /* date.component.css */
.datepicker-wrapper {
  position: relative;
}

.datepicker-wrapper .calendar {
  position: absolute;
  right: 10px; /* Adjust as needed */
  top: 50%;
  transform: translateY(-50%);
  z-index: 10; /* Make sure it's on top of other elements */
}

.datepicker-wrapper .form-control {
  padding-right: 40px; /* Adjust padding to make room for the button */
}

.datepicker-wrapper .ngb-dp {
  position: absolute;
  top: 100%; /* Ensure the date picker appears below the input */
  left: 0;
  z-index: 1000; /* Make sure the date picker is above other content */
}
