.peoples {
  padding: 20px 0;
}

.container {
  max-width: 500px;
  margin: 20px auto;
  padding: 20px;
  border: 1px solid #208678;
  border-radius: 8px;
  background-color: white;
}

h4 {
  font-size: 23px;
  text-align: center;
  margin-bottom: 20px;
  font-weight: 800;
  color: #208678;
}

button.btn.btn-succes {
  background-color: #208678;
  color: white;
}
button.btn.btn-primary {
  background-color: #4b4b4b;
  border-color: #4b4b4b;
}

.person_sec {
  margin-bottom: 20px;
  width: 450px;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 20px;
  background-color: #f3fcfb;
}

.addperson {
  margin-bottom: 15px;
}

.form-control, .form-control-file {
  margin-bottom: 10px;
  width: 100%;
}

.text-danger {
  color: red;
  font-size: 0.875rem; /* Adjust the size as needed */
  margin-top: 0.25rem; /* Space between input and error message */
}

.button-group {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  align-items: flex-end;
}

.button-group .btn {
  margin: 5px 0;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}
.add button.btn.btn-succes {
  width: 100%;
  padding: 10px 40px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.clear .button-group .btn i {
  font-size: 20px;
}

.button-group .btn i {
  font-size: 1.5em; /* Adjust size as needed */
}
.clear {
  text-align: right;
}

.submit {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.left_btn, .right_btn {
  display: flex;
  align-items: center;
}

.left_btn button, .right_btn button {
  margin: 0 5px;
}

.btn-secondary {
  background-color: #6c757d;
  color: black;
  color: white;
  border-color: #6c757d;
}

.btn-success {
  background-color: #28a745;
  border-color: #28a745;
}
img.upload_img {
  height: 80px;
}

ngx-dropzone {
  height: 180px;
  text-align: center;
}
.upload {
  width: 100%;
}
ngx-dropzone-label {
  overflow: auto;
}
.file_preview {
  align-items: center;
  border-radius: 5px;
  display: flex;
  height: 100px;
  justify-content: center;
  margin: 10px;
  max-width: 100px;
  min-height: 100px;
  min-width: 150px;
  padding: 0px 20px;
  position: relative;
}

